{% extends "central_card_layout.html" %}

{% block title %}Forgot Password - >CLOP{% endblock %}

{% block card-header %}Forgot Password{% endblock %}

{% block card-body %}
    <div class="mb-3">
        If you don't have email on your account, tough luck, reach out to adminfag.
    </div>
<form class="needs-validation" method="POST" novalidate="">
    {% csrf_token %}

    <div class="mb-3">
        <label for="email" class="mb-2 text-muted">Email</label>
        <input
                type="email"
                class="form-control {% if form.errors.email %}is-invalid{% endif %}"
                id="email"
                name="email"
                value=""
                required=""
                autofocus=""
        >
        <div class="invalid-feedback">{{ form.errors.email }}</div>
    </div>
    <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary px-4">Reset password</button>
    </div>
</form>
{% endblock %}

{% block card-footer %}
<span>Actually remember your password?</span>
<a class="text-dark text-nowrap" href="{% url 'login' %}">Login, retard</a>
{% endblock %}