{% extends "central_card_layout.html" %}

{% block title %}Reset Password - >CLOP{% endblock %}

{% block card-header %}Reset Password{% endblock %}

{% block card-body %}
<form class="needs-validation" method="POST" novalidate="">
    {% csrf_token %}
    <div class="mb-3">
        <label for="new_password1" class="mb-2 text-muted">New Password</label>
        <input
                type="password"
                class="form-control {% if form.errors.new_password1 %}is-invalid{% endif %}"
                id="new_password1"
                name="new_password1"
                value=""
                required=""
                autofocus=""
        >
        <div class="invalid-feedback">{{ form.errors.new_password1 }}</div>
    </div>
    <div class="mb-3">
        <label for="new_password2" class="mb-2 text-muted">Confirm Password</label>
        <input
                type="password"
                class="form-control {% if form.errors.new_password2 %}is-invalid{% endif %}"
                id="new_password2"
                name="new_password2"
                required=""
        >
        <div class="invalid-feedback">{{ form.errors.new_password2 }}</div>
    </div>
    <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary px-4">Reset Password</button>
    </div>
</form>
{% endblock %}

{% block card-footer %}
{% endblock %}